<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
</head>
<body>
<h1>用户注册</h1>

<form action="{:url('check')}" method="post">

    <table>
        <tr>
            <td>用户名:</td>
            <td><input type="text" name="username"/></td>
        </tr>
        <tr>
            <td>密码:</td>
            <td><input type="password" name="password1"/></td>
        </tr>
        <tr>
            <td>确认密码:</td>
            <td><input type="password" name="password2"></td>
        </tr>

        <tr>
            <td>验证码:</td>
            <td><input type="text" name="code"></td>
        </tr>
        <tr>
            <td><div>{:captcha_img()}</div></td>
        </tr>
        <tr>
            <td><input type="submit" value="登录"></td>
        </tr>
    </table>
</form>

</body>
</html>